/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/* Global properties ======================================================== */
body { 
	background:url(../images/tail-top.gif) 0 0 repeat-x #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	line-height:1.25em;
	color:#332623;
}
html { min-width:950px;}
html, body { height:100%;}



/* Global Structure ============================================================= */
#main, .container {
	margin: 0 auto;
	position: relative;
	width: 950px;
	font-size:.875em;
}

	/* Header */
	header{
		height:173px;
		position:relative;
	}
	
	
	/* Left Side */
	aside.left-side {
		float:left;
		width:190px;
		margin-right:36px;
	}
	
	/* Right Side */
	aside.right-side {
		float:left;
		width:190px;
	}
	
	/* Content */
	section#content {
		float: left;
		width:492px;
		margin-right:38px;
	}
	
	/* Sidebar */
	aside{
		float: left;
		width: 33.3%;
	}
			
	/* Footer */
	footer{
		background:#f5f3eb;
		padding:33px 0 30px 0;
	}




/* Left & Right alignment */

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.col-1, .col-2, .col-3 { float:left;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper { 
	width:100%;
	overflow:hidden;
}

/* The inside class provides consistent padding */
.inside{ padding: 8px 2px 50px 2px; }


/*----- form defaults -----*/
input, select, textarea { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
}

/*----- other -----*/
.img-indent { 
	margin:0 20px 0 0; 
	float:left;
}
.img-box { 
	width:100%; 
	overflow:hidden; 
	padding-bottom:20px;
}
	.img-box img { 
		float:left; 
		margin:0 20px 0 0;
	}

.extra-wrap { 
	overflow:hidden;
}

p {margin-bottom:20px;}
.p1 { margin-bottom:10px;}
.p2 { margin-bottom:20px;}
.p3 { margin-bottom:30px;
}


/*----- txt, links, lines, titles -----*/
a {
	color:#bf1010; 
	outline:none;
}
a:hover{
	text-decoration:none;
}

h1 {
	position:absolute;
	left:15px;
	top:27px;
	font-size:38px;
	line-height:1.2em;
	font-weight:600;
	color:#bf1010;
	letter-spacing:-2px;
}
	h1 a {
		text-decoration:none;
		color:#bf1010;
	}
	h1 a strong {
		font-weight:700;
		color:#332623;
	}
h2 {
	font-size:24px;
	line-height:1.2em;
	font-weight:normal;
	color:#2c0c01;
	border-bottom:1px dotted #bbb4a4;
	padding:0 0 5px 0;
	margin-bottom:4px;
}
h2.first {
	border-bottom:none;
	margin-bottom:11px;
}
h2.first-alt {
	padding-top:18px;
	border-bottom:none;
	margin-bottom:7px;
}
	h2 a {
		color:#2c0c01;
		text-decoration:none;
		font-size:24px !important;
	}
	h2 a:hover {
		color:#bf1010;
		text-decoration:none;
	}
h3 {
	font-size:13px;
	color:#bf1010;
	margin-bottom:5px;
}
h4 {
	font-size:1em;
	margin-bottom:20px;
	color:#332623;
}
h5 {
	font-size:1em;
	margin-bottom:20px;
}
h6 {
	
}


.link1 { 
	text-decoration:none;
	font-size:14px !important;
}
.link1:hover {
	text-decoration:underline;
}


/*==================boxes====================*/
.box {
	background:#f7f4eb;
	width:100%;
	font-size:13px;
	line-height:24px;
	color:#83775a;
	margin-bottom:10px;
}
	.box .left-top-corner {
		background:url(../images/left-top-corner.gif) no-repeat 0 0;
	}
	.box .right-top-corner {
		background:url(../images/right-top-corner.gif) no-repeat 100% 0;
	}
	.box .left-bot-corner {
		background:url(../images/left-bot-corner.gif) no-repeat 0 100%;
		width:100%;
		}
	.box .right-bot-corner {
		background:url(../images/right-bot-corner.gif) no-repeat 100% 100%;
		}
	.box .inner { 
		padding:21px 20px 30px 20px;
	}

	.box ul li {
		line-height:22px;
	}
		.box ul li a {
			color:#83775a;
			text-decoration:none;
		}
		.box ul li a:hover {
			color:#000;
			text-decoration:underline;
		}
	
	dl dt {
		color:#bf1010;
	}
	dl dd {
		padding-bottom:24px;
	}



/*===== header =====*/
header nav {
	position:absolute;
	left:0;
	top:108px;
	height:65px;
	width:948px;
	overflow:hidden;
	background:url(../images/nav-bg.gif) 0 0 repeat-x;
}

	header nav {
		margin:0 2px;
	}
		header nav ul {
			background:url(../images/nav-right.gif) no-repeat 100% 0;
			height:65px;
		}
		header nav li {
			float:left;
			background:url(../images/divider.gif) no-repeat 100% 0;
		}
			header nav li a {
				float:left;
				width:135px;
				line-height:65px;
				height:65px;
				text-align:center;
				color:#332623;
				font-size:16px;
				text-decoration:none;
				text-transform:uppercase;
			}
			header nav li a:hover {
				color:#bf1010;
			}
			header nav li.first a {
				background:url(../images/nav-left.gif) no-repeat 0 0;
			}
			header nav li.last {
				background:none;
			}




/*--- slider begin ---*/
#faded { 
	width:952px;
	height:321px;
	position:relative;
}

ul.pagination {
	position:absolute;
	right:-19px;
	bottom:9px;
	z-index:10;
}
ul.pagination li { padding-bottom:4px; vertical-align:top; width:15px; overflow:hidden;}
ul.pagination li a {
	width:15px;
	height:15px;
	overflow:hidden;
	background:url(../images/bull-1.gif) no-repeat 0 0;
	color:#ede9dd;
	font-size:0;
	line-height:0;
	text-decoration:none;
	display:block;
}
ul.pagination li.current a, ul.pagination li a:hover {
	background:url(../images/bull-2.gif) no-repeat 0 0;
}
/*
 * Required: If fixed height, state it here
*/
#faded .rap { height:321px; }
#faded img {
	position:absolute;
	left:0;
	top:0;
}
/*--- slider end ---*/



/*===== content =====*/

#content article {
	padding:20px 0 25px 0;
}
	article a {
		font-size:13px;
	}
	article time {
		font-size:12px;
		color:#83775a;
		margin-bottom:16px;
		display:block;
	}
	
	.schedule {
		width:100%;
	}
		.schedule caption {
			text-align:left;
			color:#332623;
			padding-bottom:9px;
		}
		.schedule thead td {
			font-weight:bold;
			color:#332623;
			padding-bottom:13px;
			width:50%;
		}


figure {
	padding:0 0 20px 0;
}
	
	.services {
		padding-top:40px;
		margin-bottom:-30px;
	}
		.services li {
			width:100%;
			overflow:hidden;
			padding-bottom:44px;
		}
			.services li img {
				float:left;
				margin-right:30px;
			}

/*===== footer =====*/
footer .container{
	font-size:13px;
}


/*----- forms -----*/
#search-form {
	position:absolute;
	right:9px;
	top:38px;
	width:233px;
}
	#search-form fieldset {
		display:block;
		border:none;
		background:url(../images/search-bg.gif) no-repeat 0 0;
	}
		#search-form input.text {
			width:180px;
			padding:4px 5px 2px 8px;
			background:none;
			border:none;
			font-size:12px;
		}
		#search-form input.submit {
			width:40px;
			height:31px;
			border:none;
			background:none;
			cursor:pointer;
		}


#ClockForm {
	position:absolute;
	right:7px;
	top:12px;
}
	#ClockForm fieldset {
		border:none;
		float:left;
		text-align:right;
	}
		#ClockForm fieldset input {
			border:none;
			background:none;
			color:#332623;
			width:300px;
			font-size:11px;
			text-transform:capitalize;
			text-align:right;
		}



/*==========================================*/